*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.7;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section {
  padding: 108px 0;
}

.navigation {
  background-color: #000;
  position: fixed;
  width: 100%;
}
.navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}
.navigation .container .shop-name {
  font-size: 1.5rem;
  color: #d4af37;
  font-weight: bold;
}
.navigation .container ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.navigation .container ul li .navlink {
  text-decoration: none;
  color: #e0dcdc;
  font-weight: 500;
}
.navigation .container ul li .navlink:hover {
  color: #d4af37;
}

.logo {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  color: #fff;
  transform: translate(-50%, -50%);
}
.caption h3 {
  font-weight: 700;
  text-shadow: 0 1px 1px #000;
  font-size: 3.5em;
  margin-top: 3px;
}
.caption h4 {
  text-align: center;
  text-shadow: 0 1px 1px #000;
  font-style: italic;
  font-size: 28px;
  margin-bottom: 3px;
}
.caption .btn {
  display: flex;
  justify-content: center;
  background-color: #d4af37;
  color: #fff;
  padding: 5px;
  text-decoration: none;
  border-radius: 5%;
  font-weight: 600;
  margin: auto;
  width: 33%;
}
.caption .btn:hover {
  color: rgb(255, 255, 255);
  background-color: #e0dcdc;
}

.box {
  flex: 0 0 33.333%;
  margin-top: 16px;
  padding: 16px 8px;
}
.box p:first-of-type {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
}
.box .border {
  display: flex;
  justify-content: center;
  color: #d4af37;
  font-size: 16px;
  border: 5px solid #d4af37;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  padding: 16px;
}
.box .border i {
  font-size: 48px;
}

.title {
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 3px;
  font-size: 48px;
}

p {
  text-align: center;
  font-style: italic;
  padding-bottom: 48px;
}

.portfolio {
  display: flex;
  padding: 160px;
  background-color: #e2dede;
}
.portfolio .box {
  flex: 0 0 33.333%;
  padding: 32px;
  max-height: 250px;
  margin-bottom: 96px;
}
.portfolio .box p:first-of-type {
  margin: 0;
  font-weight: bold;
}
.portfolio .box p {
  margin: 0;
  padding: 8px;
}
.portfolio .box .image {
  height: 100%;
}
.portfolio .box .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio .box .text {
  padding: 16px;
  background-color: #fff;
}

.footer .row {
  justify-content: start;
  width: 100%;
}
.footer .row .footer-text {
  display: flex;
  justify-content: center;
}
.footer .row .footer-text p {
  padding: 16px;
}
.footer .row .icons {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.footer .row .icons i {
  padding: 16px;
}

@media (max-width: 1390px) {
  .portfolio .box {
    flex: 0 0 50%;
  }
}
@media (max-width: 1050px) {
  .portfolio .box {
    flex: 0 0 100%;
  }
  .portfolio .box .image {
    width: 280px;
  }
  .portfolio .box .text {
    width: 280px;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFPQTs7O0VBR0Usc0JBQUE7QUNORjs7QURTQTtFQUNFLFNBQUE7RUFDQSxlQUFBO0VBQ0EseUNBQUE7RUFDQSxnQkFBQTtBQ05GOztBRFNBO0VBQ0UsYUFBQTtFQUNBLGVBQUE7RUFDQSw4QkFBQTtBQ05GOztBRFNBO0VBQ0UsZ0JBQUE7QUNORjs7QURTQTtFQUNFLHNCQTVCYztFQTZCZCxlQUFBO0VBQ0EsV0FBQTtBQ05GO0FET0U7RUFDRSxhQUFBO0VBQ0EsOEJBQUE7RUFDQSxtQkFBQTtFQUNBLGFBQUE7QUNMSjtBRE9JO0VBQ0UsaUJBQUE7RUFDQSxjQTFDTztFQTJDUCxpQkFBQTtBQ0xOO0FEUUk7RUFDRSxnQkFBQTtFQUNBLGFBQUE7RUFDQSxTQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7QUNOTjtBRFNRO0VBQ0UscUJBQUE7RUFDQSxjQXRETTtFQXVETixnQkFBQTtBQ1BWO0FEU1U7RUFDRSxjQTVEQztBQ3FEYjs7QURjQTtFQUNFLFdBQUE7RUFDQSxhQUFBO0VBQ0Esb0JBQUE7S0FBQSxpQkFBQTtBQ1hGOztBRGFBO0VBQ0Usa0JBQUE7RUFDQSxRQUFBO0VBQ0EsU0FBQTtFQUNBLFdBQUE7RUFDQSxZQUFBO0VBQ0EsV0ExRVU7RUEyRVYsZ0NBQUE7QUNWRjtBRFlFO0VBQ0UsZ0JBQUE7RUFDQSwyQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZUFBQTtBQ1ZKO0FEYUU7RUFDRSxrQkFBQTtFQUNBLDJCQUFBO0VBQ0Esa0JBQUE7RUFDQSxlQUFBO0VBQ0Esa0JBQUE7QUNYSjtBRGNFO0VBQ0UsYUFBQTtFQUNBLHVCQUFBO0VBQ0EseUJBbkdTO0VBb0dULFdBaEdRO0VBaUdSLFlBQUE7RUFDQSxxQkFBQTtFQUNBLGlCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxZQUFBO0VBQ0EsVUFBQTtBQ1pKO0FEY0U7RUFDRSx5QkFBQTtFQUNBLHlCQTVHWTtBQ2dHaEI7O0FEaUJBO0VBQ0UsaUJBQUE7RUFDQSxnQkFBQTtFQUNBLGlCQUFBO0FDZEY7QURnQkU7RUFDRSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EsZUFBQTtBQ2RKO0FEZ0JFO0VBQ0UsYUFBQTtFQUNBLHVCQUFBO0VBQ0EsY0FoSVM7RUFpSVQsZUFBQTtFQUNBLHlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQUFBO0VBQ0EsYUFBQTtFQUNBLFlBQUE7RUFDQSxhQUFBO0FDZEo7QURlSTtFQUNFLGVBQUE7QUNiTjs7QURrQkE7RUFDRSxrQkFBQTtFQUNBLHNCQUFBO0VBQ0Esa0JBQUE7RUFDQSxlQUFBO0FDZkY7O0FEaUJBO0VBQ0Usa0JBQUE7RUFDQSxrQkFBQTtFQUNBLG9CQUFBO0FDZEY7O0FEa0JBO0VBQ0UsYUFBQTtFQUNBLGNBQUE7RUFDQSx5QkE3SmlCO0FDOEluQjtBRGdCRTtFQUNFLGlCQUFBO0VBQ0EsYUFBQTtFQUNBLGlCQUFBO0VBQ0EsbUJBQUE7QUNkSjtBRGdCSTtFQUNFLFNBQUE7RUFDQSxpQkFBQTtBQ2ROO0FEZ0JJO0VBQ0UsU0FBQTtFQUNBLFlBQUE7QUNkTjtBRGdCSTtFQUNFLFlBQUE7QUNkTjtBRGVNO0VBQ0UsV0FBQTtFQUNBLFlBQUE7RUFDQSxvQkFBQTtLQUFBLGlCQUFBO0FDYlI7QURpQkk7RUFDRSxhQUFBO0VBQ0Esc0JBcExNO0FDcUtaOztBRHFCRTtFQUNFLHNCQUFBO0VBQ0EsV0FBQTtBQ2xCSjtBRG1CSTtFQUNFLGFBQUE7RUFDQSx1QkFBQTtBQ2pCTjtBRGtCRztFQUNDLGFBQUE7QUNoQko7QURtQkk7RUFDRSxZQUFBO0VBQ0EsYUFBQTtFQUNBLHVCQUFBO0VBQ0EsZUFBQTtBQ2pCTjtBRGtCTTtFQUNFLGFBQUE7QUNoQlI7O0FEc0JBO0VBRUU7SUFDRSxhQUFBO0VDcEJGO0FBQ0Y7QUR3QkE7RUFFRTtJQUNFLGNBQUE7RUN2QkY7RUR3QkQ7SUFDRSxZQUFBO0VDdEJEO0VEd0JEO0lBQ0UsWUFBQTtFQ3RCRDtBQUNGIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */