/*Global*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 16px;
	line-height: 1.7;
	color: #2c2c54;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section {
	padding: 108px 0;
}

.navigation {
	background-color: #000000; // opcjonalnie
	.container {
		display: flex;
		justify-content: space-between; // rozdziela elementy na lewo i prawo
		align-items: center; // wyrównuje w pionie

		.shop-name {
			font-size: 1.5rem;
			color: #d4af37;
			font-weight: bold;
		}

		ul {
			list-style: none;
			display: flex;
			gap: 2rem; // odstęp między linkami
			margin: 0;
			padding: 0;

			li {
				.navlink {
					text-decoration: none;
					color: #e0dcdc;
					font-weight: 500;

					&:hover {
						color: #d4af37; // złoty akcent
					}
				}
			}
		}
	}
}
.logo {
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.caption {
	position: absolute;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	color: #fff;
	transform: translate(-50%, -50%);

	h3 {
		font-weight: 700;
		font-size: 42px;
		margin-top: 3px;
	}

	h4 {
		text-align: center;
		font-style: italic;
		font-size: 28px;
		margin-bottom: 3px;
	}

	.btn {
		display: flex;
		justify-content: center;
		background-color: #d4af37;
		color: white;
		padding: 5px;
		text-decoration: none;
		border-radius: 5%;
		font-weight: 600;
		margin: auto;
		width: 33%;
	}
}

/*services*/
.box {
	flex: 0 0 33.333%;
	margin-top: 15px;
	padding-top: 10px;

	p:first-of-type {
		font-weight: bold;
		font-style: normal;
	}
	.border {
		display: flex;
		justify-content: center;
		color: gold;
		font-size: 15px;
		border: 5px solid gold;
		border-radius: 50%;
		width: 100px;
		height: 100px;
		margin: auto;
		padding: 15px;
		i {
			font-size: 48px;
		}
	}
}

.title {
	text-align: center;
	letter-spacing: 10px;
	margin-bottom: 3px;
	font-size: 48px;
}
p {
	text-align: center;
	font-style: italic;
}

/*portfolio*/
.portfolio {
	background-color: #e2dede;
	.box {
		flex: 0 0 33.333%;
		margin-top: 15px;
		padding: 10px;
		max-height: 300px;
		margin-bottom: 96px;

		p:first-of-type {
			margin: 0;

			font-weight: bold;
		}
		p {
			margin: 0;
		}
		.image {
			margin-bottom: 0;
			padding: 0;
			height: 100%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.text {
			padding-top: 20px;
			background-color: white;
		}
	}
}
//footer
.footer {
	.row {
		justify-content: start;
		width: 100%;
		.footer-text {
			display: flex;
			justify-content: center;
		}
		.icons {
			margin: auto;
			display: flex;
			justify-content: center;
			font-size: 24px;
			i {
				padding: 16px;
			}
		}
	}
}
